*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
  margin: auto;
  width: 85%;
}

legend{
  font-size: 3 em;
  font-weight: bolder;
}

fieldset{ 
  border-radius: 15px;
  margin:auto;
  width: 85%;
}

input, select{
  display: block;
  padding: 1 em;
  margin: 1em 1em 3em 0;
}

button{
  padding: 1 em;
}

div{
  height: 200px;
  border: 2px solid black;
  background-color: gray;
  line-height: 200 px;
  text-align: center;
}

#box{
  text-align: center;
}

#box-one{
  width: 25%;
  background-color: lightblue;
}

#box-two{
  width: 25%;
  background-color: lightsalmon;
}

#box-three{
  width: 25%;
  background-color: lightpink;
}

section{
border-top: 2px solid black;
padding: 2em;
}

form{
  border: 2 px solid black;
  padding: 2em;
}

h2{
  text-align: center;
}